{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sentiment analysis on Youtube</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.min.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">
        
        <div class="header">
            <h1>SENTIMENT ANALYSIS ON YOUTUBE</h1>
        </div>
        <div class="container">
            <form id="booking-form" class="booking-form" method="POST" action="report">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-destination">
                        <label for="destination">Enter YouTube Video URL</label>
                        <input type="text" id="destination" name="destination" placeholder="EG. https://www.youtube.com/watch?v=gjnrtCKZqYg" />
                    </div>
                    
                    <div class="form-submit">
                        <input type="submit" id="submit" class="submit" value="GO" />
                    </div>
                </div>
            </form>
        </div>

    </div>
    
    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>